.main-page {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 92px 49px 96px 51px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links_list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  list-style-position: outside;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-left: 2px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__logo {
  display: block;
  width: 136px;
  height: 105px;
  margin-right: 151px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 240px;
  line-height: 24.3px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  color: #000;
  font-size: 18px;
  gap: 1px;
}

.address_link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  color: #fff;
  row-gap: 20px;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  justify-content: end;
  z-index: 3;
  position: relative;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top: 12px;
  margin-right: 77px;
}

.bet-button {
  justify-content: end;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 32px 12px 32px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px 0px 50px;
  background-color: #fff;
}

.lots__heading {
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  line-height: 120%;
  padding: 50px 40px 50px 40px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  gap: 5px;
}

.card__link {
  text-decoration: none;
  height: 100%;
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration-line: underline;
  z-index: 3;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  z-index: 3;
}

.card-type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
}

.about {
  background-color: #fff;
  padding: 180px 50px 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.logo_background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin: 0 95px 0 95px;
}

.about__column {
  grid-column: 2 / 4;
  place-items: center start;
  padding-left: 7px;
}

.about__title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 100px;
}

.about__text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 155px 50px 90px 50px;
  margin: auto;
  background-color: #fff;
}

.footer__menu {
  display: flex;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1px;
}

.footer__menu-list {
  text-decoration: none;
  list-style-type: none;
  margin-top: 0px;
}

.footer__menu-link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-bottom: 1px;
}

.footer__social-list {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 48px;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
